@page "/locations"
@using LarpQuestSystem.Data.Model
@using LarpQuestSystem.WebApp.Components.Locations

@inject HttpClient Http
@inject NavigationManager NavigationManager

<AuthorizeView Policy="@Policies.IsScriptWriter">
    <h1>Локации игры</h1>

    @if (_locations == null)
    {
        <p><em>@_message</em></p>
    }
    else
    {
        <CascadingValue Value=@_locations>
            <LocationsAddForm OnLocationsChange="ChangeLocations" />
            <br />
            <br />
            <hr />
            <h2>Таблица локаций</h2>
            <LocationsTable />
        </CascadingValue>
    }
</AuthorizeView>

@code {

    [CascadingParameter(Name = "BaseApiUrl")] protected string BaseApiUrl { get; set; }

    private List<Location> _locations { get; set; }
    private string _message = "Загрузка...";

    protected override async Task OnInitializedAsync()
    {
        _locations = await Http.GetJsonAsync<List<Location>>($"{BaseApiUrl}/locations");
    }

    private void ChangeLocations(List<Location> locations)
    {
        _locations = locations;
        StateHasChanged();
    }
}
