@page "/players"
@attribute [Authorize(Policy = @Policies.IsScriptWriter)]

@using LarpQuestSystem.Data.Model.QuestSystem
@using LarpQuestSystem.Data.Model.Security
@using LarpQuestSystem.WebApp.Components.QuestSystem.Players

@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Список Игроков</h1>

@if (_players == null)
{
    <p><em>@_message</em></p>
}
else
{
    <CascadingValue Value=@_players>
        <AuthorizeView Policy="@Policies.IsAdmin">
            <PlayersAddForm OnPlayersChange="@ChangePlayers" />
            <br />
            <br />
            <hr />
        </AuthorizeView>
        <h2>Таблица игроков</h2>
        <PlayersTable />
    </CascadingValue>
}

@code {
    private List<Player> _players { get; set; }
    private string _message = "Загрузка...";

    [CascadingParameter(Name = "BaseApiUrl")] protected string BaseApiUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _players = await Http.GetJsonAsync<List<Player>>($"{BaseApiUrl}/players");
    }

    private void ChangePlayers(List<Player> players)
    {
        _players = players;
        StateHasChanged();
    }
}
