@using LarpQuestSystem.Data.Model
@using LarpQuestSystem.Data.Model.QuestSystem
@inject NavigationManager NavigationManager

<input type="text" id="filterByName" @bind-value="FilterString" @bind-value:event="oninput" placeholder="Имя НПС" />
<table class="table">
    <thead>
        <tr>
            <th>Имя НПС</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var npc in _filteredNpcs)
        {
            <tr @onclick="(() => NavigateToNpcView(npc.Id))">
                <td>@npc.Name</td>
                <td>@npc.Description</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    private List<Npc> _filteredNpcs;
    private string _filterString = string.Empty;

    [CascadingParameter]
    private List<Npc> Npcs { get; set; }

    public string FilterString
    {
        get => _filterString;
        set
        {
            _filterString = value;
            FilterNpcs();
        }
    }

    protected override Task OnParametersSetAsync()
    {
        _filteredNpcs = Npcs;
        return base.OnParametersSetAsync();
    }

    private void FilterNpcs()
    {
        _filteredNpcs = Npcs.Where(x => x.Name.Contains(_filterString, StringComparison.OrdinalIgnoreCase)).ToList();
        StateHasChanged();
    }

    private void NavigateToNpcView(int npcId)
    {
        NavigationManager.NavigateTo($"/npcs/{npcId}");
    }

}