@page "/quests"
@using LarpQuestSystem.Data.Model
@using LarpQuestSystem.WebApp.Components

@inject HttpClient Http
@inject NavigationManager NavigationManager


<h1>Квесты</h1>

@if (_quests == null)
{
    <p><em>@_message</em></p>
}
else
{
    <CascadingValue Value=@_quests>
        <QuestsAddForm OnQuestsChange="ChangeQuests" />
        <QuestTable />
    </CascadingValue>
}

@code {
    private List<Quest> _quests { get; set; }
    private string _message = "Загрузка...";

    [CascadingParameter (Name = "BaseApiUrl")] protected string BaseApiUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _quests = await Http.GetJsonAsync<List<Quest>>($"{BaseApiUrl}/quests/full");
    }

    private void ChangeQuests(List<Quest> quests)
    {
        _quests = quests;
        StateHasChanged();
    }

}