<AuthorizeView>
    <Authorized>
        Привет, @context.User.Identity.Name!
        <a href="LogOut">Выйти</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Зарегистрироваться</a>
        <a href="Login">Войти</a>
    </NotAuthorized>
</AuthorizeView>
