@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="d-flex flex-row-reverse">
        <LoginDisplay />
    </div>
    <BlazoredModal />
    <CascadingValue Value="@BaseApiUrl" Name="BaseApiUrl">
        <div class="content px-4">
            @Body
        </div>
    </CascadingValue>
</div>

@code
{
    //string BaseApiUrl = "http://localhost/LarpQuestSystem/api";
    string BaseApiUrl = "https://larpquestsystemapi20200213034822.azurewebsites.net/api";
}
