@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <BlazoredModal />
    <CascadingValue Value="@BaseApiUrl" Name="BaseApiUrl">
        <div class="content px-4">
            @Body
        </div>
    </CascadingValue>
</div>

@code
{
    string BaseApiUrl = "http://localhost/LarpQuestSystem/api";
}
