@page "/users"
@attribute [Authorize(Policy = Policies.IsSuperUser)]
@using LarpQuestSystem.Data.Model
@using LarpQuestSystem.Data.Model.Security
@using LarpQuestSystem.WebApp.Components.Users

@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Пользователи</h1>

@if (_users == null)
{
    <p><em>@_message</em></p>
}
else
{
    <CascadingValue Value=@_users>
        <h2>Таблица пользователей</h2>
        <UsersTable />
    </CascadingValue>
}

@code {
    private List<string> _users { get; set; }
    private string _message = "Загрузка...";

    [CascadingParameter(Name = "BaseApiUrl")]
    protected string BaseApiUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _users = await Http.GetJsonAsync<List<string>>($"{BaseApiUrl}/users");
    }

}