@using LarpQuestSystem.Data.Model
@inject NavigationManager NavigationManager

<input type="text" id="filterByItem" @bind-value="ItemFilter" @bind-value:event="oninput" placeholder="Название предмета" />
<input type="text" id="filterByNpc" @bind-value="QuestFilter" @bind-value:event="oninput" placeholder="Название квеста" />
<table class="table">
    <thead>
        <tr>
            <th>Название предмета</th>
            <th>Название квеста</th>
            <th>Требуемое количество предметов</th>
            <th>Готовность предметов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var questItem in _filteredItems)
        {
            <tr>
                <td><button class="btn btn-primary" @onclick="(() => NavigateToItemView(questItem.Item.Id))">@questItem.Item.Name</button></td>
                <td><button class="btn btn-primary" @onclick="(() => NavigateToQuestView(questItem.Quest.Id))">@questItem.Quest.Name</button></td>
                <td>@questItem.AmountNeeded</td>
                <td>
                    @if (questItem.IsReady)
                    {
                        <span class="oi oi-check" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="oi oi-ban" aria-hidden="true"></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@code
                   {
    private List<QuestItem> _filteredItems;
    private string _questFilter = string.Empty;
    private string _itemFilter = string.Empty;
    [CascadingParameter]
    private List<QuestItem> Items { get; set; }

    public string QuestFilter
    {
        get => _questFilter;
        set
        {
            _questFilter = value;
            FilterItems();
        }
    }

    public string ItemFilter
    {
        get => _itemFilter;
        set
        {
            _itemFilter = value;
            FilterItems();
        }
    }

    protected override Task OnParametersSetAsync()
    {
        _filteredItems = Items;
        return base.OnParametersSetAsync();
    }

    private void FilterItems()
    {
        _filteredItems = Items
            .Where(x => x.Quest.Name.Contains(_questFilter, StringComparison.OrdinalIgnoreCase))
            .Where(x => x.Item.Name.Contains(_itemFilter, StringComparison.OrdinalIgnoreCase))
            .ToList();
        StateHasChanged();
    }

    private void NavigateToQuestView(int questId)
    {
        NavigationManager.NavigateTo($"/quests/{questId}");
    }

    private void NavigateToItemView(int itemId)
    {
        NavigationManager.NavigateTo($"/items/{itemId}");
    }

}